.App {
  text-align: center;
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
  .all-bookings tr {
    font-size: 12px;
  }
  .buttonallonmobile {
    display: flex;
    flex-direction: column;
  }

  .buttonallonmobile button {
    width: 100%;
  }
}
